body {
    margin: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: middle;
    height: 100%;
    white-space: nowrap;
}

.container::before {
    display: inline-block;
    content: " ";
    height: 100%;
    vertical-align: middle;
    width: 0px;
}

.band {
    display: block;
    text-align: center;
    width:100%;
}

.band_cnt {
    display: inline-block;
    width: 80%;
    height: 100%;
}

.band_title {
    width: 100%;
    height: 50px;
}

.band_body {
    width: 100%;
    height: 80%;
}

.l {
    float: left;
    height: 100%;

}

.r {
    float: right;
    height: 100%;
}

.white {
    background-color: white;

}

.black {
    background-color: black;

}
.red {
    background-color: red;

}
.yellow {
    background-color: yellow;

}
.blue {
    background-color: blue;

}

.band_title_l {
    width: 20%;
}

.band_title_r {
    width: 20%;
}

#menu {
    display: inline-block;
    background-color: white;
    vertical-align: middle;

}

#menu ul {
  margin: 0px;
    padding: 0px;
}

#menu li {
    display: block;
    float:left;
    border-color: #000000;
    border: solid 2px;
    margin: 0px;
}

#header {
    height: 100px;
}

#header_left {
    float: left;
    width: 20%
}

#logo {
    max-width: 100%;
    max-height: 100%;
    float: left;
}
#header_right {
    float: right;
    width: 20%
}
#header_center {
    float: left;
    width: 60%
}






#band1 {
    height: 300px;
}

#band3 {
}

#player {
    width: 70%;
    height:400px
}

#player_top {
    width: 100%;
    height: 35%;
}

#player_bottom  {
    height: 65%;
}

#player_bottom ul {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#player_bottom li {
    width: 100%;
    display: block;
    border-color: #000000;
    border: solid 2px;
    margin: 0px;
    height: 20%;
}





.song {
    display: block;
    width: 100%;
    height: 100%;
}


.song_ico          {
    display: block;
    float:left;
    height: 100%;
    width: 10%;
}

.song_name {
    display: block;
    float: left;
    height: 100%;
    width: 40%;
    text-align: left;
    margin-left: 40px;
}

.song_control {
    display: block;
    float: right;
    height: 100%;
    width: 10%;
}


#player_icon {
    width: 25%;
    height: 100%;
}


.grid_list_cell:after {
    display: block;
    content: '';
    padding-bottom: 100%;

}

.grid_list_cell {
    display: inline-block;
  width: 18%;
    background-color: white;
    border: solid 1px green;
    margin: 0px;
    padding: 2px;
}

@media screen and (max-width: 800px){
    .grid_list_cell {
        width: 30%;
    }
}

@media screen and (max-width: 400px){
    .grid_list_cell {
        width: 45%;
    }
}
@media screen and (max-width: 100px){
    .grid_list_cell {
        width: 98%;
    }
}