/*Main content*/


body {
    background-color: white;
}


#main_content {
    width: 100%;
    position: relative;
    background-color: #1a1a1a;
    display: inline-block;
    float:left;
    background-image: url(../images/bg.png);
    background-repeat: repeat;


}

#main_text {
    position: relative;
    float: left;
    display: inline-block;
    margin-left: 40px;
    margin-top: 100px;
    overflow: hidden;

}


#main_text_pre {
    font-size: 16px;
    color: grey;
    display:inline-block;
    float:left;
    position:relative;
}


.display_none {
    display: none;
}

.display_inline_block {
    display: inline-block;
}

#ava_img {
    width:100%;
    height: auto;
    margin-top: 0px;
}

#ava_img:hover {
    cursor:pointer;

}

#ava {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 0px;
    overflow: hidden;
    width:100%;
    background-repeat: repeat-x;



}

#footer {
    margin-top:0;
}


#greeting {
    background-color: #000;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}

#greeting img {
    position: relative;
    top: 10px;
    margin: 0 auto;
}

#greeting img:hover {
    cursor: pointer;
    position: relative;
    top: 10px;
    margin: auto;
}

#slideshow {
    height: 500px;
    width: 100%;
    background-color: yellow;
    z-index: 1;
    overflow: hidden;


}

.slideshow_element img { width: 100%;
    height: auto;
    overflow: hidden;
}







