#main_content {
    background-color: black;
    position: relative;
    display: inline-block;
}

/*Main content*/

#about_editor_content {
    width: 1100px;
    position: relative;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
}

#persisted {
    width: 775px;
    margin: 20px;
    position: relative;
    position: relative;
    display: inline-block;
}

.persisted {
    width: 785px;
    position: relative;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.image {
    width: 575px;
    position: relative;
    float: left;
    float: left;
    margin-right: 20px;
    display: inline-block;

}

.persisted_img_controls {
    width: 160px;
    position: relative;
    float: left;
    display: inline-block;
}

.control {
    display: inline-block;
    float: left;
}

.fileuploader_wrapper {
    display: inline-block;
    float: left;
}

.controls a {
    text-decoration: none;
    outline: none;
    color: #000000;
    font-size: 20px;
}

.controls a:hover {
    text-decoration: underline;
    outline: none;
    color: #000000;
    font-size: 20px;
}

.green a {
    color: #006200;
}

.green a:hover {
    color: #006200;
}

.red a:hover {
    color: #620000;
}

.red a {
    color: #620000;
}

#uploaded {
    width: 1100px;
    margin: 20px;
    position: relative;
    display: inline-block;
}

#uploaded_left {
    left: 0px;
    top: 0px;
    width: 600px;
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

#uploaded_right {
    width: 440px;
    position: relative;
    display: inline-block;
    float: left;
}

#save_cancel {
    display: none;
}

.uploaded_img {
    display: inline-block;
}

.cropper_div {
    margin-bottom: 20px;
    overflow: hidden;
}

.cropper {
    width: 675px;
    margin-bottom: 20px;
    position: relative;
}

#cropper_image {
    overflow: hidden;
}

.cropper-preview {
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    float: left;
    margin-right: 20px;
}

#add_new {
    height: 50px;
    width: 675px;
    margin: 20px;
    position: relative;
}

#add_new_controls {
    left: 575px;
    height: 10px;
    width: 200px;
    margin: 20px;
    position: relative;
}

@font-face {
    font-family: Garamond; /* ��������� ������ */
    src: url("../fonts/GaramondPremrPro-It.otf");/* ���� � ����� �� ������� */
}

.head {

    font-family: Garamond, 'Garamond Premier Pro';
    color: black;
    font-size: 20pt;
}

.info {

    font-family: Garamond, 'Garamond Premier Pro';
    color: black;
    font-size: 17pt;
}

.info a {

    font-family: Garamond, 'Garamond Premier Pro';
    color: black;
    font-size: 17pt;
}

.comment {

    font-family: Garamond, 'Garamond Premier Pro';
    color: black;
    font-size: 12pt;
}

.empty {

    height: 8pt;
}

.container {
    margin-top: 10px;
    height: 64px;
    width: 64px;
    overflow: hidden;
    display: block;
}

.container:hover img {

    margin-top: -64px;
}

.remove {
    display: inline-block;
    float: left;
}

.st1 {
    display: inline-block;
    float: left;
    width: 30px;
}