@import url('reset.css');

/*General Styles*/
html {
    height: 100%;
}

body {
    background: #000;
    font-family: Times New Roman, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #000;
    width: 100%;
}

.noscrolled_body {
    position: relative;
    height: 100%;
    overflow: hidden;
}

p {
    font-size: 18px;
    color: #b9b9b9;
}

a {
    text-decoration: none;
    outline: none;
    color: #ffffff;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
    outline: none;
    color: #FFFFFF;
    font-size: 14px;
}

code {
    font-family: "Courier New", Courier, monospace;
    color: #000;
}

blockquote {
    font-style: italic;
    background: #ccc;
    margin-left: 20px;
}

#wrapper {
    width: 100%;
}

/*Main content*/

#main_content {
    width: 100%;
    position: relative;
    background-color: black;
    display: inline-block;
    margin-top: 125px;


}
#ava {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 50px;

}

#main_text {
    position: relative;
    float: left;
    display: inline-block;
    margin-left: 40px;

}


@font-face {
    font-family: MainText; /* Имя шрифта */
    src: url(../fonts/OpenSans-Light.ttf); /* Путь к файлу со шрифтом */
    src: url(../fonts/SourceSansPro-Light.ttf); /* Путь к файлу со шрифтом */
}

#main_text pre {
    FONT-FAMILY: MainText;
    font-size: 24px;
    color: white;
    display: inline-block;
}

/*Footer*/
#footer {
    position: relative;
    height: 80px;
    width: 100%;
    color: #FFFFFF;
    background-color: black;
    display: block;
    margin-top: 125px
}


#footer_phrase_name {
    height: 15px;
    width: 241px;
    position: relative;
    left: 200px;
    top: 55px;
    background-image: url(../images/footer_phrase_name.png);
    background-repeat: no-repeat;
}

#greeting {
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    text-align: center;
}

.display_none {
    display: none;
}

.display_inline_block {
    display: inline-block;
}

#greeting img {
    position: relative;
    top: 10px;
    margin: 0 auto;
}

#greeting img:hover {
    cursor: pointer;
    position: relative;
    top: 10px;
    margin: auto;
}





