/*Main content*/

#main_content {
    width: 100%;
    position: relative;
    background-color: black;
    display: inline-block;
    margin-top: 125px;
    float:left;


}
#ava {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 50px;

}

#main_text {
    position: relative;
    float: left;
    display: inline-block;
    margin-left: 40px;

}


@font-face {
    font-family: MainText; /* Имя шрифта */
    src: url(../fonts/Code%20Pro%20Light%20LC.otf); /* хороший */
}

#main_text pre {
    FONT-FAMILY: MainText;
    font-size: 18px;
    color: #b0b0b0;
    display:inline-block;
    float:left;
    position:relative;
}

/*Footer*/
#footer {
    display:inline-block;
    float:left;
    position: relative;
    height: 80px;
    width: 100%;
    color: #FFFFFF;
    background-color: black;
    margin-top: 125px
}


#footer_phrase_name {
    height: 15px;
    width: 241px;
    position: relative;
    left: 200px;
    top: 55px;
    background-image: url(../images/footer_phrase_name.png);
    background-repeat: no-repeat;
}

.display_none {
    display: none;
}

.display_inline_block {
    display: inline-block;
}





