/*Navigation menu*/
#a_hrefs {
    position: relative;
    height: 37px;
    width: 100%;

}

#a_hrefs a {
    font-size: 16px;
    color: grey;
}

#a_hrefs a:hover {
    font-size: 16px;
    color: white;
}

#a_hrefs a.active {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.a_menu_el {
    display: block;
    float:right;
    padding: 10px;
}
