.info {
    font-size: 24px;
    font-family: Anonymous Pro;
}

.column {
    display: block;
    margin: 2%;
}


.teammate{
    width: 100%;
    display: inline-block;
}

#denis_photo {
    width: 100%;

}

#denis_pic {
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#denis_info {
    display:block;
    width:100%;
}
#anton_photo {
    float:left;
    width: 100%;
}
#anton_pic {
    width:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ruslan_photo{
    width:100%;
}

#ruslan_info{
    float:left;
}

#ruslan_pic {
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1000px) {

}
