body {
    font-size: 32px;
}

.column {
    display: block;
    margin: 5%;
}


.teammate{
    width: 100%;
    display: inline-block;
}

#anton_photo {
    float:left;
}
#anton_pic {
    float:left;
}

#ruslan_photo{
    float:right;
}

#ruslan_info{
    float:left;
}

@media screen and (max-width: 1000px) {

}
