@import url('reset.css');

/*General Styles*/
html {
	height: 100%;
}

body {
	background: #FFFFFF;
	font-family: Times New Roman, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;
	min-height: 100%;
	padding-top: 5px;
	background-color: #eee;
	/*background-image: url(../images/main_bg.jpg);
	background-repeat: repeat-x;*/
	
}

p {
	font-size: 14px;
	color: b9b9b9; 
}

a {
	text-decoration: none;
	outline: none;
	color: #ffffff;
	font-size: 14px;
}

a:hover {
	text-decoration: underline;
	outline: none;
	color: #FFFFFF;
	font-size: 14px;
}

code {
	font-family: "Courier New", Courier, monospace;
	color:#000;
}

blockquote {
	font-style: italic;
	background: #ccc;
	margin-left: 20px;
}

#wrap {
	width: 1200px;
	height: 1200px;
/*	background-image: url(../images/main_bg.gif);
	background-repeat: repeat-y round;*/
	background: #d2dfe3;
	margin: 0 auto;
	position: relative;
}

/*Header*/

#header {
	position: relative;
	height: 165px;
	background: #303030;
	background-image: url(../images/header_bg_01.png);
	background-repeat: repeat-x;	
	
}

#header_name {
	height: 55px;
	width: 363px;
	color: #0b0b0b;
	position: absolute;
	left: 82px;
	top: 63px;
	background-image: url(../images/header_name_transparent.png);
	background-repeat: no-repeat;

}


#header_underline {
	height: 1px;
	background: #727272;
	position: relative;
	left: 85px;
	top: 75px;
	width: 875px;
}

#header_shaddow {
	height: 58px;
	width: 1200px;
	background-image: url(../images/header_shaddow.png);
	background-repeat: no-repeat;

}


/*Main content*/
	
#contacts_table {
	height: 282px;
	width: 859px;
	position: absolute;
	top: 200px;
	left: 150px;
	background-repeat: no-repeat;

}

@font-face {
 font-family: Garamond; /* Гарнитура шрифта */
 src: url("../fonts/GaramondPremrPro-It.otf");/* Путь к файлу со шрифтом */
}	

.head {

	font-family: Garamond, 'Garamond Premier Pro';
	color: black;
	font-size: 20pt;
}

.info {

	font-family: Garamond, 'Garamond Premier Pro';
	color: black;
	font-size: 17pt;
	text-align: right;
}


.info a{

	font-family: Garamond, 'Garamond Premier Pro';
	color: black;
	font-size: 17pt;
}

.comment {

	font-family: Garamond, 'Garamond Premier Pro';
	color: black;
	font-size: 12pt;
}

.empty {

	height: 8pt;
}



.container {
	margin-top: 10px;
	height: 64px;
	width: 64px;
	overflow: hidden;
	display: block;
}

.container:hover img{

	margin-top: -64px;
}




/*Footer*/
#footer {
	position: absolute;
	top: 1120px;
	left:0px;
	height: 80px;
	width: 100%;
	color: #FFFFFF;
	background-color: #000000;
}

#footer_phrase_name {
	height: 15px;
	width: 241px;
	position: absolute;
	left: 200px;
	top: 55px;
	background-image: url(../images/footer_phrase_name.png);
	background-repeat: no-repeat;
}



