body {
    background-color: black;
}

#main_content {
    margin-left: 0px;
    width: 100%;
    position: relative;
    background-color: #1A1A1A;
    display: inline-block;
    float:left;
    margin-top:50px;
    background-image: url(../images/bg.png);
}

#contacts_main_phrase {
    display: block;
    margin-left: 200px;
    margin-top: 40px;
    font-family: 'Exo 2',sans-serif;
    font-size: 30px;
    color: grey;

}

#content{
    margin-left: 20%;
    margin-top: 50px;
    display: table;
    width:80%;

}

#content_bg {
    background-color: #000000;
    width:100%;
}

.tr {
    display: table-row;
    text-align: left;
    width: 100%;

}
.tr_empty {
    display: table-row;
    height: 20px;
    text-align: left;
    width:100%
}

.tc_empty {
    display: table-cell;
    height: 20px;
}


.tc_last {
    display: table-cell;
    height: 200px;
}

.tc {
    display: table-cell;
    height: 40px;
    vertical-align: bottom;
    color: grey;
    font-size: 25px;
}

.image_tc {
    height: 40px;
    width:70px;
}

.tc a {
    font-size: 25px;
    color: grey;
}

.tc a:hover {
    color: white;
}


#inst_img{background: url("../images/contacts/inst_grey_w.svg") no-repeat 0 0;}
#phone_img{background: url("../images/contacts/p_grey_w.svg") no-repeat 0 0;}
#mail_img{background: url("../images/contacts/m_grey_w.svg") no-repeat 0 0;}
#fb_img {background: url("../images/contacts/f_grey_w.svg") no-repeat 0 0;}
#inst_img:hover{ background-position: 0 -40px;cursor:pointer}
#phone_img:hover{ background-position: 0 -40px;cursor:pointer}
#mail_img:hover{ background-position: 0 -40px;cursor:pointer}
#fb_img:hover{ background-position: 0 -40px;cursor:pointer}

.text_tc{text-align: left;}

#footer {
    margin-top:0;
}