#contacts_table {
    display: inline-block;
    float:left;
	height: 350px;
	width: 90%;
	position: relative;
	margin-top: 100px;
    margin-left:10%;
	background-repeat: no-repeat;
    color:white;

}

.head {
    FONT-FAMILY: MainText;
	color: white;
	font-size: 20pt;
    color: #b0b0b0;
}

.info {
    FONT-FAMILY: MainText;
	color: white;
	font-size: 17pt;
}

.info a{
    FONT-FAMILY: MainText
	color: white;
	font-size: 17pt;
}

td.comment {
    FONT-FAMILY: MainText;
	color: white;
	font-size: 12pt;
    color: #b0b0b0;
}

.empty {

	height: 8pt;
}

.container {
	margin-top: 10px;
	height: 64px;
	width: 64px;
	overflow: hidden;
	display: inline-block;
}

.container:hover img{
	margin-top: -64px;
}


object#skypedetectionswf {
    display:none;
}

#main_content {
    width: 100%;
    position: relative;
    background-color: black;
    display: inline-block;
    float:left;
    margin-top:0px;
}