#wrap {
	width: 1200px;
	height: 500px;
	background: #000;
	margin: 0 auto;
	position: relative;
}


/*Main content*/
	
#contacts_table {
	height: 282px;
	width: 859px;
	position: absolute;
	top: 100px;
	left: 150px;
	background-repeat: no-repeat;

}



.head {

    FONT-FAMILY: MainText;
	color: white;
	font-size: 20pt;
}

.info {
    FONT-FAMILY: MainText
	color: white;
	font-size: 17pt;
}

.info a{
    FONT-FAMILY: MainText
	color: white;
	font-size: 17pt;
}

td.comment {
    FONT-FAMILY: MainText
	color: black;
	font-size: 12pt;
}

.empty {

	height: 8pt;
}



.container {
	margin-top: 10px;
	height: 64px;
	width: 64px;
	overflow: hidden;
	display: block;
}

.container:hover img{

	margin-top: -64px;
}




/*Footer*/
#footer {
	position: absolute;
	top: 500px;
	left:0px;
	height: 80px;
	width: 100%;
	color: #FFFFFF;
	background-color: #000000;
}

#footer_phrase_name {
	height: 15px;
	width: 241px;
	position: absolute;
	left: 200px;
	top: 55px;
	background-image: url(../images/footer_phrase_name.png);
	background-repeat: no-repeat;
}

object#skypedetectionswf {
    display:none;
}



