/*Разметка: фиксированная середина, плавающие колонки*/

#all_space_wrap {
    position: relative;
    width: 100%;
    float:left;
    display: block;
    float: left;
    opacity: 1;
}

/*оборачивает хидер контекнт и футер*/
#page_wrap {
    width: 95%;
    background: black;
    position: relative;
    height: 100%;
    float:left;
    z-index: 2;
}

/*служит прозрачным блоком в который упирается page_wrap при увеличении масшатаба странцы
 что позволяет оставить область слева от page_wrap на которой отображается стрелочка "вверх"(возврат к заголовку страницы)*/
#left-trans-window {
    position: relative;
    width: 5%;
    float:left;
    height: 100%;
    z-index: 0;
    opacity: 0;
}

/*служит областью слева от page_wrap, которая становится прозрачной при наведении на ней ,открывает слой со стрелочкой "вверх" полльзователю*/
/*а при на жатии по области делате scroll up*/
#left_column_wrap {
    color: #123;
    position: relative;
    margin-right: -50%;
    width: 50%;
    float:left;
    height:100%;
    background-color: black;
    z-index: 1;
    overflow: hidden;
}


#arrow_pic {
    position: fixed;
    width: 60px;
    height: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center 3%;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
}

#arrow_pic p {
    font-size: 16px;
    color: #FFF;
}

#arrow_pic p:hover {
    font-size: 16px;
    font-weight: 500;
    font-weight: bold;
    color: #FFF;
}

/*Конец самого верхнего уровня разметки*/

/*Header*/

#page_wrap_padding {
    background-color: #000;
    height: 5px;
    position: relative;
}

/*Main content*/

#main_content {
    width: 100%;
    display: block;
    position: relative;
    background-color: #000;
    background-repeat: no-repeat;
    margin-top: 0px;
}

#sketches {
    position: relative;
    top: 130px;
    border: 0px solid black;
    width: 94.44%;
    display: block;
    height: 100%;
}

#ordinary_row {
    height: auto;
    width: 100%;

    /*float: left;*/

    display: table-row;
    vertical-align: middle;
}

.details {
    margin: auto;
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 0px;
    opacity: 0.9;
    background: rgba(0, 0, 0, 0.4); /* фон с полупрозрачностью */
    filter: alpha(Opacity=90); /* Прозрачность в IE */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)"; /* все тот же фон с полупрозрачностью, но фильтр для ИЕ8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000); /* все тот же фон с полупрозрачностью, но фильтр для ИЕ7 и ИЕ6 */

    z-index: 999999999999999;
    overflow: hidden;

}

.details p {
    color: #EEE;

}

.details_inner {
    padding: 7px;

}

.rate {
    margin: auto;
    width: 50%;
    height: 0px;
    position: absolute;
    top: 0px;
    opacity: 0.7;
    background: rgba(0, 0, 0, 0); /* фон с полупрозрачностью */
    filter: alpha(Opacity=0); /* Прозрачность в IE */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000)"; /* все тот же фон с полупрозрачностью, но фильтр для ИЕ8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000); /* все тот же фон с полупрозрачностью, но фильтр для ИЕ7 и ИЕ6 */

    z-index: 999999999999999;
    overflow: hidden;

}

.uBlock {
    border: 1px solid #333333;
    width: 500px;
    padding: 15px;
}

#upBlock {
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: #FFF;
    padding: 6px;
    text-align: center;
    z-index: 9999999999;
    display: none;
}


/*Full screen gallery*/

#fullScreenGallery {
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index: 30;
    /*	background-color: #222;
    */
    background-image: url(../images/fullScreen/bg.png);
    display: none;
}

#fullScreenGalleryLeftSide {
    background-image: url(../images/fullScreen/back.png);
    background-repeat: no-repeat;
    background-position: top left;
    width: 50%;
    height: 100%;
    z-index: 29;
    float: left;
    opacity: 0.2;
}

#fullScreenGalleryRightSide {
    background-image: url(../images/fullScreen/close.png);
    background-repeat: no-repeat;
    background-position: 100% 200px;
    left: 50%;
    width: 50%;
    height: 100%;
    float: left;
    z-index: 29;
    opacity: 0.2;
}

#fullScreenPic {
    max-width: 100%;
    max-height: 100%;
    z-index: 10000;
    display: none;
    cursor: pointer;
}

#fullScreenPicContainer {
    z-index: 9000;
    background-repeat: no-repeat;
    background-size: contain;

}

#big_image {
    width:100%;
    height: 100%;
    display: none;
}

#resampled_image {
    width:100%;
    height: 100%;
}

.sketch {
    border: 1px solid #aaaaaa;
}

.sketch {
    cursor: pointer;
}

.song {
    border: 1px solid;
    background-color: #252525;
    background-repeat: no-repeat;
    background-position: right;
    background-size:  auto 100%;
}

.song:hover {
    background-color: #4e4e4e;
    background-image: url(../images/player/play_na.svg);
    background-size:  auto 100%;
    cursor: pointer;
}


.song.active {
    background-image: url(../images/player/progress.gif);
    background-size:  auto 30%;
}

.song.active:hover {
    background-image: url(../images/player/pause_na.svg);
    background-size:  auto 100%;
    cursor: pointer;
}


.song_desc {
    height: 100%;
    width: 100%;

}















     



