@import url('reset.css');

/*General Styles*/
html {
    height: 100%;
}

body {
    background: #000;
    font-family: Times New Roman, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #000;
    width: 100%;
}

.noscrolled_body {
    position: relative;
    height: 100%;
    overflow: hidden;
}

p {
    font-size: 18px;
    color: #b9b9b9;
}

a {
    text-decoration: none;
    outline: none;
    color: #ffffff;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
    outline: none;
    color: #FFFFFF;
    font-size: 14px;
}

code {
    font-family: "Courier New", Courier, monospace;
    color: #000;
}

blockquote {
    font-style: italic;
    background: #ccc;
    margin-left: 20px;
}

#wrapper {
    width: 100%;
}