@import url('reset.css');
@import url(http://fonts.googleapis.com/css?family=Frijole);

@font-face {
    font-family: GothamBold;
    src: url(../fonts/GothamProBold/GothamProBold.ttf) format("opentype");
}

@font-face {
    font-family: GothamLight;
    src: url(../fonts/GothamProLight/GothamProLight.ttf) format("opentype");
}

@font-face {
    font-family: GothamRegular;
    src: url(../fonts/GothamProRegular/GothamProRegular.ttf) format("opentype");
}

@font-face {
    font-family: GothamMedium;
    src: url(../fonts/GothamProMedium/GothamProMedium.ttf) format("opentype");
}


html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    width: 100%;
    overflow: auto;
}
body {
    margin: 0;
    padding: 0;
    font-family: GothamMedium, sans-serif;
    height: 100%;
    width: 100%;
}

.text_wrap {
    display: inline-block;
    vertical-align: middle;
}

.container {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    height: 100%;
    white-space: nowrap;
}

.container::after {
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle;
    width: 0;
    border: 0;
    margin: 0;
    padding: 0;
}


.band {
    display: block;
    text-align: center;
    width: 100%;
}

.band_cnt {
    display: inline-block;
    width: 90%;
    height: 100%;
}

.band_title {
    height: 80px;
}

.band_title_l {
    font-family: GothamLight, sans-serif;
    font-size: 38px;
    width: 100%;
    height: 50px;
    text-align: left;
}

.band_title_r {
    text-align: right;
    font-family: gotham-mediumgotham-medium, sans-serif;
    font-size: 15px;
    font-weight: normal;
    width: 100%;
    height: 50px;
    color: #a69364;
}

.band_body {
    width: 100%;
    height: 80%;
}

.l {
    float: left;
    height: 100%;

}

.r {
    float: right;
    height: 100%;
}

.white {
    background-color: white;

}

.black {
    background-color: black;

}

.red {
    background-color: red;

}

.yellow {
    background-color: yellow;

}

.blue {
    background-color: blue;

}
.grey {
    background-color: #212121;

}

.band_title_l {
    width: 40%;
}

.band_title_r {
    width: 40%;
}



.home_social_links {
    text-align: center;
}

.home_social_links_list {
    display: inline-table;
}

.home_social_links_list li {
    float: left;
    padding-right: 5px;
}

.home_social_icon {
    display: block;
    height: 40px;
    width: 40px;
    text-indent: -9999px;
    float: left;
}

.social_facebook {
    background: url(../images/social/f_off) no-repeat scroll 0 0 transparent;
    background-size: cover;
}

.social_twitter {
    background: url(../images/social/t_off) no-repeat scroll 0 0 transparent;
    background-size: cover;
}

.social_instagram {
    background: url(../images/social/inst_off) no-repeat scroll 0 0 transparent;
    background-size: cover;
}

.social_youtube {
    background: url(../images/social/y_off) no-repeat scroll 0 0 transparent;
    background-size: cover;
}

.social_facebook:hover {
    background: url(../images/social/f_on) no-repeat scroll 0 0 transparent;
    background-size: cover;
}

.social_twitter:hover {
    background: url(../images/social/t_on) no-repeat scroll 0 0 transparent;
    background-size: cover;
}

.social_instagram:hover {
    background: url(../images/social/inst_on) no-repeat scroll 0 0 transparent;
    background-size: cover;
}

.social_youtube:hover {
    background: url(../images/social/y_on) no-repeat scroll 0 0 transparent;
    background-size: cover;
}

.body_href{
    cursor: pointer;
}
