#greeting {
    background-color: #000;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}

#greeting img {
    position: relative;
    top: 10px;
    margin: 0 auto;
}

#greeting img:hover {
    cursor: pointer;
    position: relative;
    top: 10px;
    margin: auto;
}

#slideshow {
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1;
    overflow: hidden;


}

.slideshow_element img { width: 100%;
    height: auto;
    overflow: hidden;
}


#greet_text {
    position: fixed;
    left:0%;
    top:40%;
    height: 20%;
    width: 100%;
    z-index: 3;
    FONT-FAMILY: 'Martel', serif;

    FONT-SIZE: 100px;
    text-align: center;
    color: #FFF;
    letter-spacing: 20px;
}

#shaddow {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
    height: 100%;
    width:100%;
    opacity: 0.6;
    background: rgba(0, 0, 0, 0.9); /* фон с полупрозрачностью */
    filter: alpha(Opacity=90); /* Прозрачность в IE */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)"; /* все тот же фон с полупрозрачностью, но фильтр для ИЕ8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000); /* все тот же фон с полупрозрачностью, но фильтр для ИЕ7 и ИЕ6 */

}

#footer {
    display: none;
}







