#greeting {
    background-color: #000;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}

#greeting img {
    position: relative;
    top: 10px;
    margin: 0 auto;
}

#greeting img:hover {
    cursor: pointer;
    position: relative;
    top: 10px;
    margin: auto;
}

#slideshow {
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1;
    overflow: hidden;


}

.slideshow_element img { width: 100%;
    height: auto;
    overflow: hidden;
}


#greet_text {
    position: fixed;
    left:5%;
    top:10%;
    height: 20%;
    width: 50%;
    z-index: 2;
    FONT-FAMILY: Code BOLD;
    FONT-SIZE: 80px;
    text-align: left;
}






