/*Header*/

#header {
    position: relative;
    height: 165px;
    width: 100%;
    background: #303030;
    background-image: url(../images/header_bg_01.png);
    background-repeat: repeat-x;
    z-index: 10;
}


#header_name {
    height: 34px;
    width: 300px;
    color: #0b0b0b;
    position: absolute;
    left: 95px;
    top: 74px;
    background-repeat: no-repeat;
    FONT-FAMILY: Code LIGHT;
    FONT-SIZE: 60px;
    color: #ffffff;

}

#last_name {
    margin-left: 32px;
}


