/*Header*/



#header {
    position: relative;
    height: 130px;
    width: 100%;
    background: #FFF;
    z-index: 10;
}

#a_head {
    position: relative;
    display: inline-block;
    width:100%;
    height:50px;
    z-index: 2;
    background-color: white;

}

.a_href {
    height: 100%;
    width:110px;
    display: inline-block;
    float:right;
    position: relative;
    display: inline-block;
    color: #258524;
    text-align: center;
}


#out_href {
    margin-right:150px ;
    color: red;
}

#body_wrapper {
    position:relative;
    display: inline-block;
    float:left;
    width: 100%;
}

#player {
    position: relative;
    height: 40px;
    width: 100%;
    z-index: 1;
    display: inline-block;
}

#player_controls {
    display: inline-block;
    float:right;
    width:100%;
    vertical-align: middle
}

.player_control {
    margin-top: 20px;
    display: inline-block;
    position: relative;
    float: right;
    height: 30px;
    width: 30px;
    background-image: url(../images/header_bg_01.png);
    background-repeat: repeat-x;
    z-index: 1;
    cursor: pointer;
    vertical-align: middle;
}


#prev {
    background-image: url(../images/player/prev_na.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#prev:hover {
    background-image: url(../images/player/prev_a.svg);
}

#next {
    margin-right:20px;
    background-image: url(../images/player/next_na.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#next:hover {
    background-image: url(../images/player/next_a.svg);
}

#pause {
    height: 40px;
    width: 40px;
    margin-top: 15px;
    background-image: url(../images/player/pause_na.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#pause:hover {
    background-image: url(../images/player/pause_a.svg);
}

#play {
    margin-top: 15px;
    background-image: url(../images/player/play_na.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 40px;
    width: 40px;

}

#play:hover {
    background-image: url(../images/player/play_a.svg);
}



#header_name {
    height: 34px;
    width: 300px;
    position: absolute;
    left: 95px;
    top: 75px;
    background-repeat: no-repeat;
    FONT-FAMILY:  Greet;
    FONT-SIZE: 60px;
    color: #000;
    letter-spacing: 10px;

}

#last_name {
    margin-left: 0px;
}

#outline {
    position: relative;
    height: 9px;
    width: 100%;
    background-color: white;
    z-index: 9;
    display:block;
}

#inline {
    position: relative;
    height: 3px;
    width: 60%;
    background-color: #860100;
    z-index:11;
    float:right;
    overflow: hidden;
    display:block;
}

#inline:hover {
    height: 9px;
}

#append {
    float:right;
    height: 3px;
    width:34%;
    background-color: #800000;
    display: inline-block;

}

#progress {
    position: relative;
    float:left;
    height: 9px;
    width: 0%;
    background-color: #590100;
    overflow: hidden;
    display:block;



}

#progress:hover {
    height: 9px;
}

#progress_time {
    position: relative;
    float:right;
    width:3%;
    display: inline-block;
    background-color: #FFF;
}

#progress_time_line {
    background-color: #800000;
    display: block;
    width: 100%;
    height: 3px;

}

#progress_time_time {
    display: block;
    width: 100%;
    height: 12px;
    text-align: center;
    font-size: 12px;
    color:black;
    font-family: "Times New Roman";
}

#track_count {
    position: relative;
    float:right;
    width:3%;
    display: inline-block;
    background-color: #FFF;
    font-family: "Times New Roman";
}

#track_count_line {
    background-color: #800000;
    display: block;
    width: 100%;
    height: 3px;
}

#track_count_count {
    display: block;
    width: 100%;
    height: 12px;
    text-align: center;
    font-size: 12px;
    color:black;
}






