/*Header*/

#header {
    position: relative;
    height: 130px;
    width: 100%;
    background: #303030;
    background-image: url(../images/header_bg_01.png);
    background-repeat: repeat-x;
    z-index: 10;
}

#player {
    position: relative;
    height: 20px;
    width: 100%;
    background-color: blue;
    z-index: 1;
    display: block;
}

.player_control {
    display: inline-block;
    position: relative;
    float: right;
    height: 20px;
    width: 40px;
    background-color: darkgreen;
    z-index: 1;
}

#next {
    margin-right:100px;
}



#header_name {
    height: 34px;
    width: 300px;
    color: #0b0b0b;
    position: absolute;
    left: 95px;
    top: 75px;
    background-repeat: no-repeat;
    FONT-FAMILY: Code LIGHT;
    FONT-SIZE: 60px;
    color: #ffffff;

}

#last_name {
    margin-left: 0px;
}

#line {
    position: relative;
    height: 3px;
    width: 100%;
    background-color: #800000;
    z-index:10;

}

#progress {
    position: relative;
    float:left;
    height: 3px;
    width: 0%;
    background-color: #c60000;

}





