@import url('reset.css');
@import url(http://fonts.googleapis.com/css?family=Frijole);

#slideshow img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#band0 {
    position: relative;
}

#band2 {
    height: 500px;
    background-color: #212121;
}

#band3 {
}

#band4 {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100px;
}

@media screen and (max-width: 1000px) {
    #band4 {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 100px;
    }
}

.grid_list_cell:after {
    display: block;
    content: '';
    padding-bottom: 100%;

}

.grid_list_cell {
    float: left;
    display: inline-block;
    width: 18%;
    margin: 0 0 1% 1%;
    background-origin: content-box;
    background: no-repeat 50% 50%;
    background-size: cover;
}

@media screen and (max-width: 800px) {
    .grid_list_cell {
        width: 30%;
    }
}

@media screen and (max-width: 500px) {
    .grid_list_cell {
        width: 45%;
    }
}

@media screen and (max-width: 100px) {
    .grid_list_cell {
        width: 98%;
    }
}

#f1 {
    width: 100%;
    height: 50%;
}

#f2 {
    width: 100%;
    height: 50%;
}


.details {
    position: relative;
    float: left;
    display: none;
    width: 100%;
    opacity: 0.9;
    background: rgba(174, 2, 18, 0.50); /* фон с полупрозрачностью */
    filter: alpha(Opacity=50); /* Прозрачность в IE */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)"; /* все тот же фон с полупрозрачностью, но фильтр для ИЕ8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000); /* все тот же фон с полупрозрачностью, но фильтр для ИЕ7 и ИЕ6 */
    z-index: 999999999999999;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.details p {
    color: #EEE;

}

.slides_gradient_black {
    z-index: 200;
    text-indent: -9999px;
    height: 220px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    background: url("http://cdn.u2.com/non_secure/images/bootstrap/gradient_black.png") repeat-x 0 0 transparent;
}

#video_band_title_l {
    color: white;
}