/*Navigation menu*/
#nav_menu {
    position: absolute;
    height: 37px;
    line-height: 37px;
    width: 343px;
    left:843px;
    top:81px;
}

/*Navigation menu -about*/
div.menu_button {
    border: 1px double #333339;
    text-align:center;
    vertical-align: middle;
    FONT-FAMILY: Code bold;
    FONT-SIZE: 16px;

}

div.menu_button.active {
    border: 1px double #ffffff;
}

div.menu_button:hover {
    border: 1px double #ffffff;
    background-color: black;
}

div.menu_button a {
    display: block;
    height: 100%;
    text-decoration: none;
}



#nav_about {
    position: absolute;
    height: 37px;
    width: 81px;
    left:0px;
    top:0px;
}
/*Navigation menu -contacts*/
#nav_contacts {
    position: absolute;
    height: 37px;
    width: 96px;
    left:83px;
    top:0px;
}
#nav_contacts:hover {
    position: absolute;
}
/*Navigation menu -galary*/
#nav_gallary {
    position: absolute;
    height: 37px;
    width: 82px;
    left:181px;
    top:0px;
}
/*Navigation menu -order*/
#nav_order {
    position: absolute;
    height: 37px;
    width: 85px;
    left:265px;
    top:0px;
}


/*end of Navigation menu*/

#lang_changer a {
    position: relative;
    display: block;
    font-family: Arial;
    font-size: 10pt;
    color: #e6e6e6;
    left:1170px;
    top:138px;
}

#lang_changer a:hover {
    cursor: pointer;
}

#header_name:hover {
    cursor: pointer;
}
