/*Navigation menu*/



#nav_menu_wrapper {

    height: 15px;
    width: 340px;
    display: inline-block;
     vertical-align: middle;
}


#nav_menu {

    position: relative;
    width:100%;
    height: 100%;
    font-family: GothamMedium ,sans-serif;

}

/*Navigation menu -about*/
div.menu_button {
    text-align:center;
    vertical-align: middle;
    margin-left: 20px;



}


div.menu_button:hover a {
    color: white;

}

div.menu_button a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: rgb(149, 147, 145);
    font-size: 15px;
}



#nav_about {
    position: relative;
    float: right;
    height: 20px;
    display: inline-block;
}
/*Navigation menu -galary*/
#nav_gallary {
    position: relative;
    float: right;
    height: 20px;
    display: inline-block;
}
/*Navigation menu -contacts*/
#nav_contacts {
    position: relative;
    float: right;
    height: 20px;
    display: inline-block;
}

/*end of Navigation menu*/

#lang_changer  {
    margin-top: 20px;
    height: 40px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    float:right;
    width: 100px;
    font-family: GothamBold, sans-serif;
    background-color: white;
    color: black;
    margin-left: -30px;
}
#lang_changer a {
    font-size: 15px;
    color: black;
}

#lang_changer a:hover {
    cursor: pointer;
    color: grey;
    text-decoration: none;
}

#header_name:hover {
    cursor: pointer;
}
