@import url('reset.css');

/*������� ����� ����� Strunkova.ru*/

/*General Styles*/
html {
    height: 100%;
}

body {
    background: #000;
    font-family: Times New Roman, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    min-height: 100%;
    padding-top: 5px;
    background-color: #000;
    /*background-image: url(../images/main_bg.jpg);
    background-repeat: repeat-x;*/

}

p {
    font-size: 14px;
    color: b9b9b9;
}

a {
    text-decoration: none;
    outline: none;
    color: #ffffff;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
    outline: none;
    color: #FFFFFF;
    font-size: 14px;
}

code {
    font-family: "Courier New", Courier, monospace;
    color: #000;
}

blockquote {
    font-style: italic;
    background: #ccc;
    margin-left: 20px;
}

#wrap {
    width: 1200px;
    height: 1200px;
    /*	background-image: url(../images/main_bg.gif);
        background-repeat: repeat-y round;*/
    background: #000;
    margin: 0 auto;
    position: relative;
}

/*Header*/

#header {
    position: relative;
    height: 165px;
    background: #303030;
    background-image: url(../images/header_bg_01.png);
    background-repeat: repeat-x;
    z-index: 10;
}

#header_name {
    height: 34px;
    width: 300px;
    color: #0b0b0b;
    position: absolute;
    left: 95px;
    top: 74px;
    background-repeat: no-repeat;
    FONT-FAMILY: Code LIGHT;
    FONT-SIZE: 60px;
    color: #ffffff;

}

#header_underline {
    height: 1px;
    background: #727272;
    position: relative;
    left: 85px;
    top: 75px;
    width: 875px;
}

#header_shaddow {
    height: 58px;
    width: 1200px;
    background-repeat: no-repeat;

}

/*Main content*/

#main_content {
    height: 975px;
    width: 100%;
    position: relative;
    float: left;
    top: 165px;
    background-color: #000;

}

#slider {
    position: relative;
    display: inline-block;
    float: left;

}

#left_ar {
    width: 60px;
    height: 97px;
    position: absolute;
    top: 104px;
    left: 0px;
    background-image: url(../images/slider/left_ar.png);
    background-repeat: no-repeat;
}

#left_ar a {
    display: block;
    height: 100%
}

#right_ar {
    width: 59px;
    height: 97px;
    position: absolute;
    top: 104px;
    left: 661px;
    background-image: url(../images/slider/right_ar.png);
    background-repeat: no-repeat;
}

#right_ar a {
    display: block;
    height: 100%
}

#left_ar:hover {
    width: 60px;
    height: 97px;
    position: absolute;
    top: 104px;
    left: 0px;
    background-image: url(../images/slider/left_ar_hover.png);
    background-repeat: no-repeat;
}

#right_ar:hover {
    width: 59px;
    height: 97px;
    position: absolute;
    top: 104px;
    left: 661px;
    background-image: url(../images/slider/right_ar_hover.png);
    background-repeat: no-repeat;
}

#ava {
    display: inline-block;
    position: relative;
    float: left;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center;
}

#shaddow {
    width: 575px;
    height: 85px;
    position: absolute;
    top: 301px;
    right: 75px;
    background-image: url(../images/slider/shaddow.png);
    background-repeat: no-repeat;
}

#main_text {
    float: left;
    display: inline-block;
    margin-left: 40px;

}

@font-face {
    font-family: Garamond; /* ��������� ������ */
    src: url("../fonts/GaramondPremrPro-It.otf");/* ���� � ����� �� ������� */
}

#main_text pre {

    font-family: Garamond, 'Garamond Premier Pro';

/* font-family : Georgia, 'Times New Roman', Times, serif;  8/
    color: white;
    font-size: 16pt;
}

#main_text_part1 {
    height: 200px;
    width: 1000px;
    position: absolute;
    top: 240px;
    left: 155px;
}

#main_text_part2 {
    height: 396px;
    width: 800px;
    position: absolute;
    top: 460px;
    left: 155px;
}

#photo_area {
    height: 396px;
    width: 314px;
    position: absolute;
    top: 15px;
    left: 630px;
    background-image: url(../images/avatar.png);
    background-repeat: no-repeat;
}

/*Footer*/
#footer {
    position: absolute;
    top: 1120px;
    left: 0px;
    height: 80px;
    width: 100%;
    color: #FFFFFF;
    background-color: #000000;
}

#footer_phrase_name {
    height: 15px;
    width: 241px;
    position: absolute;
    left: 200px;
    top: 55px;
    background-image: url(../images/footer_phrase_name.png);
    background-repeat: no-repeat;
}

#greeting {
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    height: 1300px;
    width: 1300px;
    z-index: 9999;
    text-align: center;
}

.display_none {
    display: none;
}

#greeting img {
    position: relative;
    top: 10px;
    margin: 0 auto;
}

#greeting img:hover {
    cursor: pointer;
    position: relative;
    top: 10px;
    margin: auto;
}





